@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

code, pre, tt, kbd {
    font-family: 'JetBrains Mono', monospace !important;
    font-size: 0.9em;
}

pre code {
    font-family: 'JetBrains Mono', monospace !important;
}
